.header{
    display:flex;
    padding-top: 35px;
    font-family: 'Rubik', sans-serif;
}

.header.-nav{
    margin-left: 25%;
    padding-top: 0px;
}

.header.-nav a{
    margin-top: 15px;
    margin-right:58px ;
    color: #dfe9ff;
    font-size: 16px;
}

.header.-nav.-doc .docs-button{
    color: rgb(116, 116, 116);
}

.logo{
    width: 40px;
    height: 40px;
    padding-right: 15px;
    cursor: pointer;
}

.logo-title{
    padding-top: 10px;
    color: rgb(252, 252, 252);
    font-weight: bold;
    font-size: 20px;
}

.title-nav{
    position: absolute;
    margin-top: 10px;
}